<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./head.ejs %>
</head>
<body>
  <main>
  <% include ./navbar.ejs %>
    
    <h2><p class="header"><b > Welcome <%= user.firstName %> </b></p></h2>
    <p> Your Email ID is : <code> <%= user.email %>  </code></p>
    <p> Your Security Question is: <code><%= user.recoveryDetails.securityQuestion %></code></p>
    <p> Your Security Answer is: <code><%= user.recoveryDetails.securityAnswer %></code></p>
    <p> Your Primary Mobile is: <code><%= user.mobileNumbers.primaryMobileNo %></code></p>
    <p> Your Secondary Mobile is: <code><%= user.mobileNumbers.secondaryMobileNo %></code></p>
    
    <br><br><br><br><br>
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
